/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

html
{
    font-size: 100%;

}

html, body
{  
    margin: 0;
    padding: 0;
    background-color: black;
    
}
.main_wrapper
{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    width: 90%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: auto;
    background: url("img/pexels-joey-kyber-129743.jpg");
}
@font-face
{
    font-family: "PlayfairDisplay";
    src: url("font/PlayfairDisplay-Regular.ttf") format("truetype");
}
h1
{
    font-size:4rem;
    font-family: 'PlayfairDisplay';
}
h2
{
    font-size: 2.5rem;
    font-family: 'PlayfairDisplay', cursive, Verdana, Geneva, Tahoma, sans-serif;}
h3
{
    font-size: 3rem;
    font-family: 'PlayfairDisplay', cursive, Verdana, Geneva, Tahoma, sans-serif;
}
h4
{
    font-size: 1.5rem;
    font-family: 'PlayfairDisplay', cursive, Verdana, Geneva, Tahoma, sans-serif;
}
p
{
    font-size: 1.4rem;
    font-family: 'PlayfairDisplay', cursive, Verdana, Geneva, Tahoma, sans-serif;
}
a .basketnumber
{
    font-family: Helvetica, sans-serif;
}
.redalert2 p
{
    font-size: 1rem;
    font-family: 'PlayfairDisplay', cursive, Verdana, Geneva, Tahoma, sans-serif;
    
}
li
{
    font-size: 2rem;
    font-family: 'PlayfairDisplay', cursive, Verdana, Geneva, Tahoma, sans-serif;
}
a
{
    font-family: 'PlayfairDisplay', cursive, Verdana, Geneva, Tahoma, sans-serif;
}
label
{
    font-size: 1.5rem;
    font-family: 'PlayfairDisplay', cursive, Verdana, Geneva, Tahoma, sans-serif;
}
.productpagectn label
{
    font-size: 1.1rem;
}
.productpage-otherproduct p
{
    font-size: 2rem;
}
footer a
{
    font-size: 1.4rem;
}
.fas
{
    font-size:5rem;
}
li .fas
{
    font-size: 4rem;
    color: white;
}
input
{
    width: 70%
}
.hightborder
{
    border: solid black 20px;
    border-radius: 30px;
}
.lowborder
{
    border: solid black 15px;
    border-radius: 20px;
}
.verylowborder img
{
    border: solid black 8px;
    border-radius: 30px;
}
.basketpage .add
{   
    
    width:37px;
    height: 37px;
    background: url("img/plus2.jpg");
    background-size: 32px;
    border-radius: 100px;
}
.basketpage .remove
{   
    
    width:37px;
    height: 37px;
    background: url("img/minus2.jpg");
    background-size: 32px;
    border-radius: 100px;
}
.basketpage .delete
{  
     width:37px;
    height: 37px;
    background: url("img/delete2.jpg");
    background-size: 32px;
    border-radius: 100px;
}


.dynamiqueli
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    text-decoration: none;
}
.basketnumber
{
    position: absolute;
    border:  black solid 5px;
    background-color:  rgb(98, 153, 7);
    background-size: 280px 280px;
    border-radius: 80%;
    top: -35px;
    left: 18px;
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: 2rem;
    width: 2.5rem;
    height: 2.5rem;
    color: black;
    font-weight: bold;
    
}
.basketfont
{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    position: relative;
}
header ,.headerctn-header
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
}
header
{
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    background: url("img/texture-paper.png");
    background-color: #5b3c28;
    background-size: 280px 280px;
}
.headerctn-logo
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 50%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: 3rem;
}
.title
{
    width: 40%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
a
{
    text-decoration: none;
    color: black;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.logo 
{
    width:20%;
}
header nav
{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    width:50%;
}
header nav ul
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    width: 100%;
    -ms-flex-pack: distribute;
        justify-content: space-around;
}
header nav ul li 
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

}
section
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    
}
main 
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width:100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}
article
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width:100%;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin-top: 6rem;
}
.productpagectn
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width:40%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    border: solid black 15px;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    background: url("img/texture-paper.png");
    background-color: #5b3c28;
    background-size: 280px 280px;
}
.productpagectn label
{
    font-weight: bold;
}
.productpage .articlectn-buyctn
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width:40%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    background: url("img/texture-paper.png");
    background-color: #5b3c28;
    background-size: 280px 280px;
}
h2, h3 
{
    text-align: center;
}
.productpage .articlectn-buyctn label
{
    font-weight: bold;
}

.productpage .articlectn-header1,.productpage .articlectn-header2
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    width:100%;
    margin-bottom: 1rem;

}
.productpage .articlectn-header2 
{
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}
.productpage .articlectn-main1,.productpage .articlectn-main2
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width:100%;
}
.productpage .articlectn-main1
{
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}
.productpage .articlectn-main1 img
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 80%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
.productpage .articlectn-main2
{
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}
.productpage .articlectn-footer1,.productpage .articlectn-footer2 
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width:60%;
}
.productpage .articlectn-footer1
{
    margin-top: 1rem;
    margin-bottom: 1rem;
    text-align: center;
    border: solid black 3px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    background: url("img/lines-h2-bg.png");
    background-color: rgb(240, 211, 171);
    background-size: 280px 280px;
}
.productpage .articlectn-footer2 
{
    margin-top: 3rem;
    margin-bottom:2rem;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    width:80%;
}
.productpage-otherproduct, .basketpage-otherproduct
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 5rem;
    border: solid black 10px;
    background-color: rgb(255, 255, 255);
    border-radius: 30px;  
    -webkit-box-sizing: border-box;  
            box-sizing: border-box;
    background: url("img/texture-paper.png");
    background-color: #5b3c28;
    background-size: 280px 280px;
} 
.productpage .articlectn-buyctn button
{
    border:solid black 2px;
    border-radius:30px;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
}
.productpage button p
{
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}
.productpage-otherproduct p, .basketpage-otherproduct p
{
font-weight: bold;
margin-bottom: 0rem;
margin-top: 0.5rem;
}
.productpage-otherproduct .asidectn img, .basketpage-otherproduct .asidectn img
{
    border: solid black 5px;
    border-radius: 30px;  
}
.productpage-otherproduct-selection, .basketpage-otherproduct-selection
{
    width:100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.productpage-otherproduct-selection .asidectn,  .basketpage-otherproduct .asidectn
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 20%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border: solid black 10px;
    background-color: rgb(240, 211, 171);
    border-radius: 25%;
    margin-bottom: 1rem;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    text-align: center;
}
.basketpage-otherproduct .asidectn
{
    width:20%;
}
.productpage-otherproduct-selection .asidectn h4
{
    margin-bottom: 0.5rem;
}
.asidectn img
{
    width:40%;
    margin-bottom: 1rem;
}
.mainpage 
{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    width:100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.mainpagectn
{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    width:100%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin-top: 5rem;
}
.mainpage .sectionctn 
{
 display:-webkit-box;
 display:-ms-flexbox;
 display:flex;
 width: 40%;
 margin-top: 3rem;
 -webkit-box-sizing: border-box;
         box-sizing: border-box;
 background-color: #5b3c28;
 background-size: 280px 280px;
 position: relative;
}

.mainpagectn a
{
 display:block;
 width: 40%;
 margin-top: 3rem;
 -webkit-box-sizing: border-box;
         box-sizing: border-box;

}
.mainpage .imgctn
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 50%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;

}
.sectionctn::after 
{
    background: url("img/texture-paper.png") top repeat rgba(0,0,0,0.1);
    background-size: 280px 280px;
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 1;
}
.sectionctn:hover::after
{
    opacity: 0.7;
    -webkit-transition: all 50ms linear;
    -o-transition: all 50ms linear;
    transition: all 50ms linear;
}

.mainpage .textctn
{
    width:50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: justify;

} 
.mainpage .textctn p
{
    margin-right:1rem;
    background: url("img/lines-h2-bg.png");
    background-size: 280px 280px;
}
.mainpage .sectionctn img
{
    width: 80%;
    margin: 1rem;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
.select-quantity
{
    text-align: center;
}
.basketpage 
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
    width:100%;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}
.basketpage-ctn, .basketpage-ctn2
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    background: url("img/texture-paper.png");
    background-color: #5b3c28;
    background-size: 280px 280px;
}
.basketpage-ctn
{
    width:30%;
}
.basketpage-ctn2
{
    width:60%;
}
.articlebasketpage-ctn2
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
}
.articlebasketpage-ctn2 > div
{
 display: -webkit-box;
 display: -ms-flexbox;
 display: flex;
 width: 100%;
 -ms-flex-pack: distribute;
     justify-content: space-around;
}
.basketpage-ctn2 .alloptionarticle
{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    margin-left: 10%;
    width:50%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    border-left: solid black 7px;
    border-right: solid black 7px;
    border-bottom: solid black 7px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    background: url("img/lines-h2-bg.png");
    background-color: rgb(175, 185, 77);
    background-size: 280px 280px;
    margin-bottom: 2rem;
    border-radius: 0 0 20px 20px;
}
.basketpage-ctn2 .alloptionarticle p
{
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
}
.basketpage-ctn2 .listarticleoption
{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    width:50%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
.basketpage-ctn2 .quantityoptionarticle
{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    width:30%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
.basketpage-ctn2 .optionarticle
{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    width:100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.formctn
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    text-align: center;
    width:100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-bottom: 2rem;
}
footer
{
    width: 100%;
}
footer .otherproduct-selection
{
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
footer .otherproduct-selection .asidectn
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 19%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: bisque;
    border: solid black 1px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    
}
.listarticle
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 65%;
    border: black solid 7px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    background: url("img/texture-paper.png");
    background-color: rgb(98, 153, 7);
    background-size: 280px 280px;
    border-radius: 20px;
    padding-bottom: 1rem;
}
.quantityarticle
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 10%;
    border: black solid 7px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    background: url("img/texture-paper.png");
    background-color: rgb(98, 153, 7);
    background-size: 280px 280px;
    border-radius: 20px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
   }
.pricearticle
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 20%;
    border: black solid 7px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    background: url("img/texture-paper.png");
    background-color: rgb(98, 153, 7);
    background-size: 280px 280px;
    border-radius: 20px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.ordervalidation
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
    width:100%;
    border: solid black 10px;
    border-radius: 30px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    background: url("img/texture-paper.png");
    background-color: #5b3c28;
    background-size: 280px 280px;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
}
.finalconfirmationctn
{ 
    display:-webkit-box; 
    display:-ms-flexbox; 
    display:flex;
    width:100%;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    position: relative;
    padding-top:4rem;
}
.finalconfirmation
{
display:-webkit-box;
display:-ms-flexbox;
display:flex;
width: 40%;
position : absolute;
left: 10%;
top: -36px;
-webkit-box-sizing: border-box;
        box-sizing: border-box;
background: url("img/texture-paper.png");
background-color: rgb(98, 153, 7);
background-size: 280px 280px;
-webkit-box-pack: center;
    -ms-flex-pack: center;
        justify-content: center;
-webkit-box-align: center;
    -ms-flex-align: center;
        align-items: center;   
}
.finalconfirmation a
{
display: -webkit-box;
display: -ms-flexbox;
display: flex;
width: 100%;
-webkit-box-pack: center;
    -ms-flex-pack: center;
        justify-content: center;
padding-top: 2rem;
padding-bottom:2rem;
}
.finalconfirmation p
{
    text-align: center;
}

.finalpricectn
{
display:-webkit-box;
display:-ms-flexbox;
display:flex;
width: 28%;
-ms-flex-pack: distribute;
    justify-content: space-around;
-webkit-box-align: center;
    -ms-flex-align: center;
        align-items: center;
-webkit-box-sizing: content-box;
        box-sizing: content-box;
position: absolute;
top: -43px;
right: 10%;
background: url("img/texture-paper.png");
background-color: rgb(98, 153, 7);
background-size: 280px 280px;
padding-top: 1rem;
padding-bottom:1rem;
}
.finalconfirmation p
{ 
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
}

.finalpricectn p
{
    border: black solid 7px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    background: url("img/lines-h2-bg.png");
    background-color:  rgb(175, 185, 77);
    background-size: 280px 280px;
    border-radius: 20px;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    padding: 1rem;
}
.labelctn
{
    margin-top: 1rem;
}
.labelctn label
{
    font-weight: bold;
}
.redalert2
{

display: -webkit-box;

display: -ms-flexbox;

display: flex;
-webkit-box-pack: center;
    -ms-flex-pack: center;
        justify-content: center;
}
.redalert2 p
{ 
background-color: white;
margin-top: 0.5rem;
margin-bottom: 0rem;
color:red;
display: -webkit-box;
display: -ms-flexbox;
display: flex;
}
.validationpage .article 
{
border: black solid 15px;
background: url("img/texture-paper.png");
background-color: rgb(98, 153, 7);
background-size: 280px 280px;
border-radius: 30px;
padding-top: 1rem;
padding-bottom:1rem;
-webkit-box-sizing: border-box;
        box-sizing: border-box;
}
.validationpage-ctn 
{
display:-webkit-box;
display:-ms-flexbox;
display:flex;
width: 100%;
-webkit-box-pack: center;
    -ms-flex-pack: center;
        justify-content: center;
-webkit-box-orient: vertical;
-webkit-box-direction: normal;
    -ms-flex-direction: column;
        flex-direction: column;
margin-left: 20%;
}
.validationpage-ctn span
{
    font-weight: bold;
}
span
{
    font-weight: bold;
}
.orderarticle-ctn
{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    width: 40%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}
.orderarticle
{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    width: 100%;
    border: solid black 10px;
    border-radius: 30px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    background: url("img/texture-paper.png");
    background-color: #5b3c28;
    background-size: 280px 280px;
    margin-bottom: 1rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.orderarticle img
{
    width:20%;
    margin-bottom: 1rem;
    border: solid black 5px;
    border-radius: 30px;
    margin-top: 1rem;
    margin-left: 1rem;
}
.orderarticle p
{
    width:40%;
    text-align: center;
    font-weight: bold;
}
footer
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border: solid black 7px;
    border-radius: 30px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    background: url("img/texture-paper.png");
    background-color: #5b3c28;
    background-size: 280px 280px;
    margin-top: 2rem;
}
footer a, footer p
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
    border: solid black 7px;
    border-radius: 30px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    background: url("img/texture-paper.png");
    background-color: rgb(98, 153, 7);
    background-size: 280px 280px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 1.5rem;
}
footer a:hover 
{
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
    -webkit-transition: -webkit-transform 200ms cubic-bezier(.07,1.19,.41,.89);
    transition: -webkit-transform 200ms cubic-bezier(.07,1.19,.41,.89);
    -o-transition: transform 200ms cubic-bezier(.07,1.19,.41,.89);
    transition: transform 200ms cubic-bezier(.07,1.19,.41,.89);
    transition: transform 200ms cubic-bezier(.07,1.19,.41,.89), -webkit-transform 200ms cubic-bezier(.07,1.19,.41,.89);
}

@media all and (min-width: 992px) and (max-width: 1299px)
{
    .main_wrapper
{
    width: 95%;
}
.basketpage-ctn, .basketpage-ctn2
{
    margin-top:5rem;
}
.hightborder
{
    border: solid black 18px;
    border-radius: 30px;
}
.lowborder
{
    border: solid black 12px;
    border-radius: 20px;
}
.verylowborder img
{
    border: solid black 6px;
    border-radius: 30px;
}
.mainpage .sectionctn
{
    width: 43%
}
.mainpagectn
{
    margin-top: 4rem;
}
.main_wrapper aside .asidefooter img
{
    border: solid black 3px;
    width:50%
}
.basketnumber
{
    border:  black solid 4px;
    top: -32px;
    left: 15px;
    font-size: 1.9rem;
    width: 2.2rem;
    height: 2.2rem;
    
}
.orderarticle-ctn
{
    
    width: 70%;
}

    h1
    {
        font-size:3rem;
    }
    h2
    {
        font-size: 2.1rem;
    }
    h3
    {
        font-size: 2.6rem;
    }
    h4
    {
        font-size: 1rem;
    }
    p
    {
        font-size: 1.2rem;
    }
    .redalert2 p
    {
        font-size: 0.9rem;
    }
    li
    {
        font-size: 1.6rem;
    }
    label
    {
        font-size: 1.1rem;
    }
    .productpagectn label
    {
        font-size: 0.9rem;
    }
    .productpage-otherproduct p
    {
        font-size: 1.6rem;
    }
    .fas
    {
        font-size:4.5rem;
    }
    li .fas
    {
        font-size: 3.5rem;
}
footer a
{
    font-size: 1.2rem;
}
    
}
@media all and (min-width: 769px) and (max-width: 991px)
{
    .main_wrapper
{
    width: 100%;
}
.basketpage-ctn, .basketpage-ctn2
{
    margin-top:3rem;
}
.hightborder
{
    border: solid black 18px;
    border-radius: 30px;
}
.lowborder
{
    border: solid black 12px;
    border-radius: 20px;
}
.mainpage .sectionctn
{
    width: 45%
}
.mainpagectn
{
    margin-top: 3rem;
}
.verylowborder img
{
    border: solid black 4px;
    border-radius: 30px;
}
.main_wrapper aside .asidefooter img
{
    border: solid black 2px;
    width:65%
}
.basketpage .add, .basketpage .remove, .basketpage .delete
{
    width: 30px;
    height: 30px;
    background-size: 24px;
    border-radius: 100px;
}
.basketnumber
{
    border:  black solid 3px;
    top: -25px;
    left: 13px;
    font-size: 1.6rem;
    width: 1.9rem;
    height: 1.9rem;
    
}
.orderarticle-ctn
{
    
    width: 70%;
}

    h1
    {
        font-size:2rem;
    }
    h2
    {
        font-size: 1.6rem;
    }
    h3
    {
        font-size: 2rem;
    }
    h4
    {
        font-size: 0.8rem;
    }
    p
    {
        font-size: 1rem;
    }
    .redalert2 p
    {
        font-size: 0.7rem;
    }
    li
    {
        font-size: 1.1rem;
    }
    label
    {
        font-size: 0.9rem;
    }
    .productpagectn label
    {
        font-size: 0.7rem;
    }
    .productpage-otherproduct p
    {
        font-size: 1.1rem;
    }
    .fas
    {
        font-size:3.5rem;
    }
    li .fas
    {
        font-size: 3rem;
        color: white;
    }
    footer a
    {
        font-size: 1rem;
    }    
    
}
@media all and (min-width: 501px) and (max-width: 768px)
{
    .main_wrapper
{
    width: 100%;
}
.basketpage-ctn, .basketpage-ctn2
{
    margin-top:2rem;
}
.basketpage .add, .basketpage .remove, .basketpage .delete
{
    width: 25px;
    height: 25px;
    background-size: 20px;
    border-radius: 100px;
}
.basketpage-ctn
{
    width:30%;
}
.basketpage-ctn2
{
    width:68%;
}
.ordervalidation
{
    margin-top:4rem;
}
.hightborder
{
    border: solid black 15px;
    border-radius: 30px;
}
.lowborder
{
    border: solid black 10px;
    border-radius: 20px;
}
.mainpage .sectionctn
{
    width: 48%
}
.mainpagectn
{
    margin-top: 2rem;
}
.productpage .articlectn-footer2 
{ 
    width: 100%;
}
.verylowborder img
{
    border: solid black 4px;
    border-radius: 30px;
}
.main_wrapper aside .asidefooter
{
    border: solid black 7px;
}
.main_wrapper aside .asidefooter img
{
    border: solid black 2px;
    width:90%;
}
.productpage-otherproduct-selection .asidectn, .basketpage-otherproduct .asidectn
{
    width:23%;
}
.listarticle, .quantityarticle, .pricearticle
{
    border: black solid 5px;
}
.basketpage-ctn2 .alloptionarticle 
{
    border-left: solid black 4px;
    border-right: solid black 4px;
    border-bottom: solid black 4px;
}
.finalpricectn
{
    right:5%;
    width:43%;
}
.finalconfirmation
{
    left:5%;
    width:35%;
}
.basketnumber
{
    border:  black solid 3px;
    top: -22px;
    left: 11px;
    font-size: 1.3rem;
    width: 1.6rem;
    height: 1.6rem;
    
}
.orderarticle-ctn
{
    
    width: 90%;
}

    h1
    {
        font-size:1.6rem;
    }
    h2
    {
        font-size: 1.1rem;
    }
    h3
    {
        font-size: 1.6rem;
    }
    h4
    {
        font-size: 0.6rem;
    }
    p
    {
        font-size: 0.8rem;
    }
    .redalert2 p
    {
        font-size: 0.5rem;
    }
    li
    {
        font-size: 0.8rem;
    }
    label
    {
        font-size: 0.7rem;
    }
    .productpagectn label
    {
        font-size: 0.5rem;
    }
    .productpage-otherproduct p
    {
        font-size: 0.8rem;
    }
    .fas
    {
        font-size:2rem;
    }
    li .fas
    {
        font-size: 2.5rem;
    }
    footer a
    {
        font-size: 0.8rem;
    }       
}
@media all and (max-width: 500px)
{
    .main_wrapper
{
    width: 100%;
}
.basketnumber
{
    border:  black solid 3px;
    top: -22px;
    left: 11px;
    font-size: 1.3rem;
    width: 1.6rem;
    height: 1.6rem;
    
}
.headerctn-logo
{
    margin-left:0rem;
    margin-right:0rem;
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
.headerctn-header
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.title
{
    width:60%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
.logo
{
    text-align: end;
}
header nav
{
    width:100%;
}
header nav ul
{
    padding-left: 0rem;
}
.finalconfirmationctn
{
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height:6rem;
    width:100%;
}

    h1
    {
        font-size:1.8rem;
    }
    h2
    {
        font-size: 1.1rem;
    }
    h3
    {
        font-size: 1.6rem;
    }
    h4
    {
        font-size: 0.6rem;
    }
    p
    {
        font-size: 0.8rem;
    }
    .redalert2 p
    {
        font-size: 0.9rem;
    }
    li
    {
        font-size: 1rem;
    }
    label
    {
        font-size: 0.7rem;
    }
    .productpagectn label
    {
        font-size: 0.5rem;
    }
    .productpage-otherproduct p
    {
        font-size: 0.8rem;
    }
    .fas
    {
        font-size:2rem;
    }
    li .fas
    {
        font-size: 2.5rem;
    }
    footer a
{
    font-size: 0.7rem;
}
    .mainpage .sectionctn
    {
        width:95%;
    }
    .mainpagectn
    {
        margin-top:2rem;
    }
    .productpage .article
    {
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        margin-top: 2rem;
    }
    .productpage .productpagectn
    {
        width:90%;
    }
    .productpage .articlectn-buyctn
    {
        width:90%;
        margin-top: 1rem;
    }
    .productpage-otherproduct-selection, .basketpage-otherproduct-selection
    {
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    }
    .productpage-otherproduct-selection .asidectn, .basketpage-otherproduct .asidectn
    {
        width: 40%;
    }
    .productpage-otherproduct p, .basketpage-otherproduct p
    {
        margin-bottom: 1rem;
    }
    .basketpage > article
    {
        width:90%;
        margin-top: 3rem;
    }
    .basketpage .ordervalidation
    {
    margin-bottom: 3rem;
    margin-top: 5rem;
    }
    .basketpage .add, .basketpage .remove, .basketpage .delete
{
    width: 25px;
    height: 25px;
    background-size: 20px;
    border-radius: 100px;
}
.validationpage .article 
{
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.productpage-otherproduct, .basketpage-otherproduct
{
    margin-top: 3rem;
}
.finalpricectn
{
    top: -60px;
    right: initial;
    width:100%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
.finalconfirmation
{
    top: 100px;
    left: initial;
    width:100%;
}
.listarticle, .quantityarticle, .pricearticle
{
    border: initial;
    background-color: initial;
    background-size: initial;
    width: initial;
    background: initial;
    padding-bottom: 0rem;
}
.quantityarticle, .pricearticle
{
    border-left: solid black 2px;
    border-radius: initial;
    width:25%;
}
.listarticle
{
    width:50%;
}
.basketpage-ctnarticle3
{
    border: black solid 7px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    background: url("img/texture-paper.png");
    background-color: rgb(98, 153, 7);
    background-size: 280px 280px;
    border-radius: 20px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;

}
.basketpage-ctn2 .alloptionarticle
{
    width: 80%;
    margin-left: 0rem;
    margin-bottom: 1rem;
}
.articlebasketpage-ctn2
{
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.orderarticle-ctn
{
    width: 90%;
}
.validationpage-ctn
{
    margin-left:10%;
}
footer 
{
   -webkit-box-orient: vertical;
   -webkit-box-direction: normal;
       -ms-flex-direction: column;
           flex-direction: column;
}
}