html
{
    font-size: 100%;

}

html, body
{  
    margin: 0;
    padding: 0;
}
.main_wrapper
{
    display:flex;
    width: 90%;
    flex-direction: column;
    margin: auto;
}
h1
{
    font-size:4rem;
}
h2
{
    font-size: 3rem;
}
h3
{
    font-size: 2rem;
}
p
{
    font-size: 1.3rem;
}

.fas
{
    font-size:8rem;
}
header ,.headerctn-header
{
    display: flex;
    width: 100%;
}
header
{
    border: solid black 2px;
    background-color: rgb(235, 154, 125);
}
.headerctn-logo
{
    display: flex;
    width: 50%;
}
.title
{
    width: 30%;
}
.logo 
{
    width:20%;
}
header nav
{
    display:flex;
    width:50%;
}
header nav ul
{
    display: flex;
    align-items: flex-end;
    width: 100%;
    justify-content: space-around;
}
header nav ul li 
{
    display: flex;
}
section
{
    display: flex;
    width: 100%;
}
main 
{
    display: flex;
    width:100%;
    flex-direction: column;
}
article
{
    display: flex;
    width:100%;
    justify-content: space-around;
    margin-top: 6rem;
}
.productpagectn
{
    display: flex;
    width:40%;
    flex-direction: column;
    background-color: brown;
    border: solid black 2px;
}
.productpage .articlectn-buyctn
{
    display: flex;
    width:40%;
    flex-direction: column;
    background-color: burlywood;
    border: solid black 2px;
}
h2, h3 
{
    text-align: center;
}
.productpage .articlectn-header1,.productpage .articlectn-header2
{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width:100%;

}
.productpage .articlectn-header2 
{
    flex-direction: column;
}
.productpage .articlectn-main1,.productpage .articlectn-main2
{
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
}
.productpage .articlectn-main1
{
    flex-direction: column;
}
.productpage .articlectn-main1 img
{
    display: flex;
    width: 80%;
}
.productpage .articlectn-main2
{
    flex-direction: column;
}
.productpage .articlectn-footer1,.productpage .articlectn-footer2 
{
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
}
.productpage .articlectn-footer2 
{
    margin-top: 3rem;
}
.productpage .otherproduct
{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
    
}
.productpage .otherproduct-selection
{
    width:100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.productpage .otherproduct-selection .asidectn
{
    display: flex;
    width: 20%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: bisque;
    border: solid black 1px;
    
}
.asidectn img
{
    width:80%;
}
.mainpage 
{
    display:flex;
    width:100%;
    justify-content: center;
    align-items: center;
}
.mainpagectn
{
    display:flex;
    width:100%;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 5rem;
}
.mainpage .sectionctn 
{
 display:flex;
 width: 40%;
 border: solid black 4px;
 margin-top: 3rem;
}
.mainpagectn a
{
 display:block;
 width: 40%;
 border: solid black 4px;
 margin-top: 3rem;

}
.mainpage .imgctn
{
    display: flex;
    padding-top: 5rem;
    padding-bottom: 5rem;
    padding-left: 2rem;
    padding-right: 2rem;
    width: 50%;
}
.mainpage .textctn
{
    width:50%;

} 
.mainpage .sectionctn img
{
    width: 100%;
    border: solid black 4px;
}